/*===================== GOOGLE FONTS =====================*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*============= DEFINICIÓN DE VARIABLES CSS ===========*/
:root {
    /* Altura del encabezado */
    --header-height: 3.5rem;

    /* Colores */
    --first-color: hsl(24, 96%, 52%);
    --second-color: hsl(24, 96%, 43%);
    --color-grey: hsl(0, 0%, 92%);
    --title-color: hsl(24, 100%, 50%);
    --text-color: hsl(30, 6%, 13%);
    --body-color: hsl(24, 100%, 99%);
    --color-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    --color-shadow-efc: 0 4px 8px 0 rgba(0, 0, 0, 0.633);
    --container-color: #fff;

    /* Fuentes y tipografía */
    --body-font: "Rubik", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



/*================== CODIGO REUSABLE CSS CLASES ======================*/
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*-- Botones --*/
.button {
    display: inline-flex;
    margin-top: 2rem;
    align-items: center;
    column-gap: .5rem;
    padding: 0.75rem 1.5rem;
    background: var(--first-color);
    color: var(--body-color);
    border-radius: 1.15rem 1.5rem;
    transition: .3s;
    box-shadow: var(--color-shadow)
}

.button i {
    font-size: 1.5rem;
}

.button:hover {
    box-shadow: var(--color-shadow-efc);
}


/* ===================== BARRA DE NAVEGACIÓN ===================== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background-color: #000; /* Fondo negro */
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar__logo:hover {
  color: #f57c00;
}

.navbar__menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar__menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar__menu li a:hover {
  color: #f57c00;
}

.navbar__toggle {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}



/*=========================== PERFIL =========================*/
.perfil {
    position: relative;
    padding-top: 3.5rem;
}

.perfil__container {
    row-gap: 5rem;
}

.perfil__datos {
    display: grid;
    text-align: center;
}

.perfil__imagen {
    width: 180px;
    height: 185px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.perfil__imagen img {
    width: 200px;
    height: auto;
}

.perfil__border {
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .90rem;
}

.perfil__nombre {
    font-size: var(--h1-font-size);
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: .5rem;
}

.perfil__profesion {
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: .2rem;
}

.perfil__profesion2 {
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: .2rem;
}

.perfil__social {
    display: flex;
    justify-content: center;
    column-gap: .80rem;
}

.perfil__social-link {
    font-size: 1.25rem;
    color: var(--body-color);
    width: 2.5rem;
    height: 2.5rem;
    background: var(--first-color);
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2rem;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.perfil__social-link:hover {
    color: var(--first-color);
    border-color: var(--first-color);
    background-color: var(--body-color);
}

.perfil__button {
    text-align: center;
    margin-bottom: 2rem;
}


/*======================== SECCIÓN SOBRE MÍ ===============================*/
.about__me {
    padding: 3rem;
    background-color: var(--color-grey);
    text-align: center;
    position: relative;
    z-index: 1;
}

.about__me h2 {
    padding-bottom: 15px;
}

.container__about {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: var(--first-color);
}


/*====================== FILTRAR PESTAÑAS =============================*/
.filters__content {
    margin: 2rem 0 2.5rem;
    background: var(--color-grey);
    padding: .375rem;
    border-radius: 1.15rem 1.5rem;
    display: flex;
    justify-content: space-between;
    column-gap: .5rem;
}

.filters__button {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: 550;
    border-radius: 1.15rem 1.5rem;
    cursor: pointer;
    background: transparent;
    transition: .3s;
}

.filters__button:hover {
    background: var(--body-color);
}

.filters__sections {
    margin-bottom: 35px;
}


/*============ HABILIDADES ==============*/
.skills__content {
    row-gap: 3.5rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1.5rem;
}

.skills__blob {
    display: grid;
    place-items: center;
    margin-bottom: -1rem;
    width: 95px;
    height: 100px;
    background: var(--container-color);
    border-radius: 50rem;
}

.skills__blob img {
    width: 45px;
}

/*-- Animación habilidades --*/
.skills__blob:hover img {
    animation: bounce-skills .6s;
}

@keyframes bounce-skills {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translate(0);
    }

    60% {
        transform: translateY(-3px);
    }

    80% {
        transform: translate(0);
    }
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.skills__data {
    display: flex;
    column-gap: .5rem;
}

.skills__data i {
    font-size: 1rem;
    color: var(--first-color);
}

.skills__name {
    font-size: 400;
    color: var(--text-color);
    line-height: 18px;
}

.skills__level {
    font-size: var(--small-font-size);
}


/*============ PROYECTOS ==============*/
.projects__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.projects__card img {
    width: 100%;
    height: 100%;
}

.projects__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(180deg,
            hsla(207, 24%, 40%, .3) 0%,
            hsla(207, 24%, 4%, 1) 95%);
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: .3s;
}

.projects__subtitle,
.projects__title {
    color: var(--container-color);
}

.projects__subtitle {
    font-size: var(--small-font-size);
}

.projects__title {
    font-size: var(--h2-font-size);
    margin-bottom: -.80rem;
}

.projects__card:hover .projects__modal {
    bottom: 0;
    transition: .5s;
}


/*-- Esconder y mostrar Habilidades y proyectos --*/
.filters [data-content] {
    display: none;
}

.filters__active[data-content] {
    display: grid;
}

/*-- Botón activo para mostrar filtros --*/
.filter-tab-active {
    background: var(--body-color);
}


/*======================== SECCIÓN CONTACTO ======================*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    background: var(--first-color);
}

.contact h2 {
    color: var(--container-color);
    text-align: center;
    margin-bottom: 15px;
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input__box {
    display: flex;
    justify-content: space-between;
}

.field .error__txt {
    color: #e20000;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error__txt {
    display: block;
}

.input__box .input__field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 1px solid #000000;
    outline: none;
    border-radius: 10px;
    font-size: var(--normal-font-size);
    color: var(--container-color);
    margin: 12px 0;
}

.field.error .item {
    border-color: #e20000;
}

.field .item::placeholder {
    color: rgb(204, 204, 204);
}

.textarea__field .item {
    resize: none;
}

form .textarea__field .error__txt {
    margin-top: -10px;
}

.contact__button button {
    background: var(--container-color);
    border: none;
    color: var(--first-color);
    font-weight: 600;
}

.contact__button button i {
    font-weight: 400;
}



/*==================== FOOTER ======================*/
.footer {
    background-color: var(--text-color);
    font-size: var(--smaller-font-size);
    color: var(--container-color);
    width: 100%;
    padding: 1rem 0;
}

.footer__info {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
}

.footer__info .footer__width {
    padding: 0 15px;
}

.about {
    width: 30%;
}

.about h2 {
    margin-bottom: 10px;
}

.about,
.contact__footer,
.link {
    width: 0 30%;
}

.link {
    width: 30%;
    margin-left: auto;
}

.link a {
    color: var(--container-color);
}

.link ul li {
    margin-bottom: 15px;
    font-size: var(--small-font-size);
}

.link ul li a:hover {
    color: var(--first-color);
}

.contact__footer h2 {
    margin-bottom: 10px;
}

.contact__footer a:hover {
    color: var(--first-color);
}

.contact__footer ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact__footer ul li a {
    color: var(--container-color);
}

.contact__footer ul li span {
    margin-right: 15px;
}

.copy__right {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}



/*=================== BARRA DE NAVEGACIÓN =====================*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-grey);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, var(--color-grey), var(--first-color));
    border-radius: 10px;
}

/*=========== RESPONSIVE ============*/

/* Tamaño grande */
@media screen and (min-width: 968px) {
    :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tamaño mediano */
@media screen and (min-width: 576px) {
    .projects__content {
        grid-template-columns: 322px;
        justify-content: center;
    }

    .filters__content {
        width: 332px;
        margin: 3rem auto;
    }

    .change-theme {
        top: 2.5rem;
        right: 2.5rem;
    }

    .perfil {
        padding-top: 4rem;
    }

    .perfil__button {
        column-gap: 2rem;
    }

    .projects__content {
        gap: 2rem, 3rem;
    }

    .skills__title {
        font-size: var(--h3-font-size);
    }
}


@media screen and (min-width: 776px) {

    .projects__content,
    .skills__content {
        grid-template-columns: repeat(2, 332px);
    }

    .skills__content {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 1200px) {

    .projects__content,
    .skills__content {
        grid-template-columns: repeat(3, 332px);
    }

    .skills__content {
        justify-content: center;
        column-gap: 3rem;
    }
}

/* Tamaño grande */
@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .perfil__button {
        flex-direction: column;
        row-gap: 1rem;
    }

    .skills__box {
        column-gap: 1rem;
    }
}


/* Tamaño pequeño y mediano */
@media screen and (max-width: 975px) {
    .footer__info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__width {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .about,
    .contact__footer,
    .link {
        width: 100%;
    }

    .footer__copy {
        margin: 2rem 0;
    }

    .social__media {
        margin: 1.5rem 0;
        margin-top: -1rem;
    }
}

/* Tamaño pequeño */
@media screen and (max-width: 767px) {
    .input__box {
        flex-direction: column;
        gap: 1rem;
    }

    .input__field {
        width: 100%;
    }

    .contact form {
        width: 80%;
    }

    .input__box .input__field {
        width: 100%;
    }

    .social__media {
        display: flex;
        margin: 1.5rem 0;
        margin-top: -1rem;
    }

    .social__media ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
    }
}


/* Versión móvil */
@media screen and (max-width: 768px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #111;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    display: none;
    text-align: center;
  }

  .navbar__menu.active {
    display: flex;
  }

  .navbar__toggle {
    display: block;
  }
}
